@model ToDoTask.Data.Entities.Job

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select name="ProjectId" onchange="eventChangePrjId()" id="ProjectSelected" asp-items="@(new SelectList(ViewBag.Project, "ProjectId", "ProjectName"))"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Content" class="control-label"></label> 
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label"></label>
                <select name="User" id="UserVal" multiple></select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="DateLine" class="control-label"></label>
                <input asp-for="DateLine" class="form-control" />
                <span asp-validation-for="DateLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            eventChangePrjId();
        });
        function eventChangePrjId() {
            let ProjectSelected = $("#ProjectSelected").val();
            $.ajax({
                url: location.origin + "/Job/loadUserOfProject/?projectId=" + ProjectSelected,
                type: "post",
                dataType: 'json',
                success: function (data) {
                    var options = '';
                    for (var x = 0; x < data.length; x++) {
                        options += '<option value="' + data[x].id + '">' + data[x].name + '</option>';
                    }
                    $('#UserVal').html('');
                    $('#UserVal').html(options);
                },
                error: function (e) {
                    console.log(e.message);
                }
            });
        }
    </script>
}

