@model ToDoTask.Data.Entities.ProjectUser

@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Phân Công Dự Án</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-100">
                <label asp-for="UserId" class="control-label"></label>
                <select class="js-select2 w-100" name="UserId" asp-items="@(new SelectList(ViewBag.User, "Id", "Name"))" multiple></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3  w-100">
                <label asp-for="ProjectId" class="control-label"></label>
                <select class="js-select2 w-100" name="ProjectId" asp-items="@(new SelectList(ViewBag.Project, "Id", "Name"))"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
       $(document).ready(function(){
            $('.js-select2').select2();
       });
    </script>
}
